<tr id="serviceRow_{{ serviceCounter }}">
    <td>
        <select name="serviceRow[{{ serviceCounter }}][service]" id="serviceRowService_{{ serviceCounter }}" class="form-select form-select-sm" data-service-counter="{{ serviceCounter }}" onchange="changeService(this)" required>
            <option value="">Bitte auswhählen</option>
            {% for service in services %}
                <option value="{{ service.id }}">{{ service.name }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <input type="text" name="serviceRow[{{ serviceCounter }}][durationInMinutes]" id="serviceRowDurationInMinutes_{{ serviceCounter }}" class="form-control form-control-sm" placeholder="Dauer in Minuten" required>
    </td>
    <td>
        <select name="serviceRow[{{ serviceCounter }}][employee]" id="serviceRowEmployee_{{ serviceCounter }}" class="form-select form-select-sm" required>
            <option value="">Bitte auswhählen</option>
            {% for employee in employees %}
                <option value="{{ employee.id }}">{{ employee.firstname }} {{ employee.lastname }}</option>
            {% endfor %}
        </select>
    </td>
    <td>
        <button type="button" class="btn btn-danger btn-sm" onclick="deleteServiceRow({{ serviceCounter }})"><i class="fas fa-trash"></i></button>
    </td>
</tr>
