{% for serviceRow in serviceRows %}
    <tr id="serviceRow_{{ serviceRow.sort }}">
        <td>
            <select name="serviceRow[{{ serviceRow.sort }}][service]" id="serviceRowService_{{ serviceRow.sort }}" class="form-select form-select-sm" data-service-counter="{{ serviceRow.sort }}" onchange="changeService(this)" required>
                <option value="">Bitte auswhählen</option>
                {% for service in services %}
                    <option value="{{ service.id }}" {% if serviceRow.service.id == service.id %} selected {% endif %}>{{ service.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="serviceRow[{{ serviceRow.sort }}][durationInMinutes]" id="serviceRowDurationInMinutes_{{ serviceRow.sort }}" class="form-select form-select-sm" placeholder="Dauer in Minuten" required>
                <option value="15" {% if serviceRow.durationInMinutes == 15 %} selected {% endif %}>15 Minuten</option>
                <option value="30" {% if serviceRow.durationInMinutes == 30 %} selected {% endif %}>30 Minuten</option>
                <option value="45" {% if serviceRow.durationInMinutes == 45 %} selected {% endif %}>45 Minuten</option>
                <option value="60" {% if serviceRow.durationInMinutes == 60 %} selected {% endif %}>60 Minuten</option>
                <option value="75" {% if serviceRow.durationInMinutes == 75 %} selected {% endif %}>75 Minuten (1 Stunde 15 Minuten)</option>
                <option value="90" {% if serviceRow.durationInMinutes == 90 %} selected {% endif %}>90 Minuten (1 Stunde 30 Minuten)</option>
                <option value="105" {% if serviceRow.durationInMinutes == 105 %} selected {% endif %}>105 Minuten (1 Stunde 45 Minuten)</option>
                <option value="120" {% if serviceRow.durationInMinutes == 120 %} selected {% endif %}>120 Minuten (2 Stunden)</option>
                <option value="135" {% if serviceRow.durationInMinutes == 135 %} selected {% endif %}>135 Minuten (2 Stunden 15 Minuten)</option>
                <option value="150" {% if serviceRow.durationInMinutes == 150 %} selected {% endif %}>150 Minuten (2 Stunden 30 Minuten)</option>
                <option value="165" {% if serviceRow.durationInMinutes == 165 %} selected {% endif %}>165 Minuten (2 Stunden 45 Minuten)</option>
                <option value="180" {% if serviceRow.durationInMinutes == 180 %} selected {% endif %}>180 Minuten (3 Stunden)</option>
            </select>
        </td>
        <td>
            <select name="serviceRow[{{ serviceRow.sort }}][employee]" id="serviceRowEmployee_{{ serviceRow.sort }}" class="form-select form-select-sm">
                <option value="">Bitte auswhählen</option>
                {% for employee in employees %}
                    <option value="{{ employee.id }}" {% if serviceRow.employee.id is defined and serviceRow.employee.id == employee.id %} selected {% endif %}>{{ employee.firstname }} {{ employee.lastname }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-sm" onclick="deleteServiceRow({{ serviceRow.sort }})"><i class="fas fa-trash"></i></button>
        </td>
    </tr>
{% endfor %}