{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bookings.js') }}"></script>
{% endblock %}

{% block title %}new Booking index{% endblock %}

{% block body %}
    <h1 class="h3 mb-4 text-gray-800">Termin bearbeiten</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form method="post" action="{{ path('booking_delete', {'id': booking.id}) }}" onsubmit="return confirm('Termin wirklich löschen?');">
                <div class="d-flex justify-content-between">
                    <h5 class="m-0 font-weight-bold text-primary">Termindetails</h5>

                    <button class="btn btn-danger btn-sm btn-icon-split">
                        <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                        <span class="text">Termin Löschen</span>
                    </button>
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
                </div>
            </form>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group row py-sm-2 mb-0">
                    <label for="booking_customer" class="col-form-label col-sm-2">Kunde</label>
                    <div class="col-sm-4">
                        <input id="booking_customer" class="form-control" name="booking[customer]" type="text" value="{{ booking.customer.lastname }}, {{ booking.customer.firstname }}" disabled/>
                        <input name="booking[customer]" type="hidden" value="{{ booking.customer.id }}"/>
                    </div>
                    <label for="booking_start" class="col-form-label col-sm-2">Termin</label>
                    <div class="col-sm-4">
                        <input id="booking_start" name="booking[start]" type="text" class="form-control" value="{{ booking.start|date("d.m.Y H:i") }}" readonly/>
                    </div>
                </div>

                <div class="form-group row py-sm-2 mb-0">
                    <label for="booking_note" class="col-form-label col-sm-2">Notiz</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="booking_note" name="booking[note]" rows="5" placeholder="Information die für den Termin wichtig sein könnten wie z.B. Extensions liegen im Schrank">{{ booking.note }}</textarea>
                    </div>
                </div>

                <div class="form-group row py-sm-2 mb-0">
                    <label for="booking_note" class="col-form-label col-sm-2">Dienstleistungen</label>
                    <div class="col-sm-10">
                        <button type="button" id="addServiceRow" class="btn btn-warning btn-sm btn-icon-split">
                            <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                            <span class="text">Dienstleistung hinzufügen</span>
                        </button>
                        <table id="serviceTable" class="table" style="display: none">
                            <thead>
                            <tr>
                                <th scope="col">Dienstleistung</th>
                                <th scope="col">Dauer in Minuten</th>
                                <th scope="col">Druchgeführt von</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody id="servicesContainer">
                            <!-- ajax goes here -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group row py-sm-2 mb-0">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button id="createBookingButton" type="submit" name="booking[edit_booking]" value="1" disabled class="btn btn-success btn-sm btn-icon-split">
                            <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                            <span class="text">Speichern</span>
                        </button>
                        <a href="{{ path('booking_index') }}" class="btn btn-danger btn-sm btn-icon-split">
                            <span class="icon text-white-50"><i class="fas fa-times"></i></span>
                            <span class="text">Abbrechen</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        let serviceCatalog = [];

        {% for service in services %}
        serviceCatalog[{{ service.id }}] = {{ service.avgDurationInMinutes }};
        {% endfor %}

        $(document).ready(function () {
            loadServiceRows({{ booking.id }});

            $('#addServiceRow').on('click', function (e) {
                addServiceRow({{ booking.id }});
            });

            $("#booking_start").datetimepicker({

                // language
                // you can find all languages under the locales folder
                // attribute: data-date-language
                language: 'de',

                // RTL mode
                rtl: true,

                // step size
                // attributes: data-minute-step
                minuteStep: 15,

                // attributes: data-picker-position
                pickerPosition: 'bottom-right',

                // enable meridian views for day and hour views
                // attributes: data-show-meridian
                showMeridian: false,

                startDate: new Date(),

                // z-index property
                // attributes: data-z-index
                zIndex: undefined,

                // initial date
                initialDate: new Date(),

                // ISO-8601 valid datetime
                format: "dd.mm.yyyy hh:ii",

                // 0 = Sunday
                // 6 = Saturday
                // attributes: data-date-weekstart
                weekStart: 0,

                // days of the week that should be disabled
                // 0 = Sunday
                // 6 = Saturday
                // attributes: data-date-days-of-week-disabled
                daysOfWeekDisabled: [],

                // auto close the picker after selection
                // attributes: data-date-autoclose
                autoclose: true,

                // 0 or 'hour' for the hour view
                // 1 or 'day' for the day view
                // 2 or 'month' for month view (the default)
                // 3 or 'year' for the 12-month overview
                // 4 or 'decade' for the 10-year overview.
                // attributes: data-start-view
                startView: 2,

                // attributes:data-min-view
                minView: 0,

                // attributes: data-max-view
                maxView: 4,

                // select the view from which the date will be selected
                // 'decade', 'year', 'month', 'day', 'hour'
                // attributes: data-view-select
                viewSelect: 0,

                // show Today button
                // attributes: data-date-today-btn
                todayBtn: true,

                // highlight the current date
                todayHighlight: true,

                // whether or not to force parsing of the input value when the picker is closed
                // attributes: data-date-force-parse
                forceParse: false,
            });
        });
    </script>
{% endblock %}