<!DOCTYPE html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('favicon.ico') }}" rel="shortcut icon">
    {% block stylesheets %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />

        <link href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/fontawesome-free-6.0.0-beta3-web/css/all.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet">
        <link href="{{ asset('plugins/tempus-dominus-master/css/tempus-dominus.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('plugins/jquery/jquery-3.6.0.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
        <script src="{{ asset('plugins/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
        <script src="{{ asset('plugins/bootstrap-select/dist/js/i18n/defaults-de_DE.js') }}"></script>
        <script src="{{ asset('plugins/momentjs/moment-with-locales.js') }}"></script>
        <script src="{{ asset('plugins/tempus-dominus-master/js/tempus-dominus.js') }}"></script>
        <script src="{{ asset('plugins/tempus-dominus-master/js/jQuery-provider.js') }}"></script>

    {% endblock %}
</head>
<body>

{% include 'navbar.html.twig' %}

<main class="container">
    {% block body %}{% endblock %}
</main>

</body>
</html>
